@media (max-width: 75em) {
  html {
    /* 9px/16px = 56.25% */
    font-size: 56.25%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 36em) {
  .card-preview {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    border-radius: 8px;
    height: 70rem;
    width: 32.5rem;
    overflow: hidden;
  }
  .imgBx {
    height: 24rem;
  }

  .contentBx {
    height: 46rem;
  }
}
