@media (max-width: 24em) {
  html {
    font-size: 50%;
  }

  .card-preview {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    border-radius: 8px;
    height: 70rem;
    width: 32.5rem;
    overflow: hidden;
  }
  .imgBx {
    height: 24rem;
  }
  .imgBx .img {
    background: url(/images/image-product-mobile.jpg);
    height: 100%;
  }
  .contentBx {
    height: 46rem;
  }
}
