* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 500;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
}
.card-preview {
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 45rem;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  color: hsl(212, 21%, 14%);
}
.contentBx {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 3.2rem;
}
.subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 1.6rem;
  color: hsl(228, 12%, 48%);
}
h1 {
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 3.6rem;
  font-family: "Fraunces";
  line-height: 1.05;
  margin-bottom: 2.4rem;
}
.content-description {
  font-size: 1.4rem;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
  margin-bottom: 2.4rem;
}
.imgBx {
  position: relative;
  height: 100%;
  width: 100%;
}
.imgBx .img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.prices {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 2.4rem;
}
.actual-price {
  font-family: "Fraunces";
  font-size: 3.2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}
.old-price {
  font-size: 1.4rem;
  color: hsl(228, 12%, 48%);
  text-decoration-line: line-through;
}
.add-to-cart-btn {
  /* position: relative; */

  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.add-to-cart-btn:hover,
.add-to-cart-btn:active {
  background-color: #1e4034;
}

.add-to-cart-btn .add-to-cart {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
